{% extends('base.html.twig') %}

{% block body %}
    {% block top %}

        {% block slider %}
            <div class="slider">
                <div uk-slider="center: true; autoplay: true; pause-on-hover: true; autoplay-interval: 3000">

                    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

                        <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
                            <li>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-media-top">
                                        <img src="images/photo.jpg" alt="obraz 1">
                                    </div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">First Article</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                        <p><a class="uk-button article_link" href="{{ path('show', {nameofarticle: 'First Article' }) }}">Czytaj dalej</a></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-media-top">
                                        <img src="images/dark.jpg" alt="">
                                    </div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">Secound Article</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                        <p><a class="uk-button article_link" href="{{ path('show', {nameofarticle: 'Secound Article' }) }}">Czytaj dalej</a></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-media-top">
                                        <img src="images/light.jpg" alt="">
                                    </div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">Third Article</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                        <p><a class="uk-button article_link" href="{{ path('show', {nameofarticle: 'Third Article' }) }}">Czytaj dalej</a></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-media-top">
                                        <img src="images/photo2.jpg" alt="">
                                    </div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">Forth Article</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                        <p><a class="uk-button article_link" href="{{ path('show', {nameofarticle: 'Forth Article' }) }}">Czytaj dalej</a></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-media-top">
                                        <img src="images/photo3.jpg" alt="">
                                    </div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">Fifth Article</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                        <p><a class="uk-button article_link" href="{{ path('show', {nameofarticle: 'Fifth Article' }) }}">Czytaj dalej</a></p>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

                    </div>

                    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

                </div>
            </div>
        {% endblock %}
        {% block top_content %}
            Top Content
        {% endblock %}
    {% endblock %}
{% endblock %}