<form action="{{ path('create_news') }}" method="post">
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">Create a new article</legend>

        <div class="uk-margin">
            <input class="uk-input" type="text" name="title" placeholder="Title" required>
        </div>

        <div class="uk-margin">
            <textarea class="uk-textarea" name="content" rows="5" placeholder="Text" required></textarea>
        </div>

        <div class="uk-margin">
            <input class="uk-button uk-button-default" name="submit_news" type="submit">
        </div>
    </fieldset>
</form>