<form>
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">Login</legend>

        <div class="uk-margin">
            <input class="uk-input login" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus placeholder="Email">
        </div>

        <div class="uk-margin">
            <input type="password" name="password" id="inputPassword" class="uk-input form-control" placeholder="Password" required>
        </div>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <div class="uk-margin">
            <input class="uk-button uk-button-default" type="submit" value="Login">
        </div>
    </fieldset>
</form>

