<form>
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">Zarejestruj się!!</legend>

        <div class="uk-margin">
            <input class="uk-input login" type="text" name="login_field" placeholder="Login" required>
        </div>

        <div class="uk-margin">
            <input class="uk-input passrowd" type="password" name="password_field" placeholder="Password" required>
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="password" name="re-password_field" placeholder="Re-Password" required>
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" name="first_name" placeholder="First Name" required>
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" name="last_name" placeholder="Last Name" required>
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="hidden" name="user_group" value="0">
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="hidden" name="is_active" value="0">
        </div>

        <div class="uk-margin">
            <input class="uk-button uk-button-default" type="submit">
        </div>
    </fieldset>
</form>