.mine-toolbar{
    max-width:  100%;
}

[class*="uk-navbar-dropdown-bottom"] {
    margin-top: 0px;
}

.mine-navbar{
    max-width: 100%;
    background: #f8f8f8;
    text-align: center;
}

.back-navbar{
    vertical-align: middle;
    /*display: inline-block;*/
    background: #f8f8f8;
}

.uk-navbar-left{
    display: inline-block;
}

.uk-navbar-left .uk-navbar-nav li > a{
    background: #3399ff;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    transition-duration: 0.3s ease;
}

.uk-navbar-left .uk-navbar-nav li > a:hover{
    background: burlywood;
    color: black;
    transition-duration: 0.3s ease;
}

.uk-navbar-left .uk-navbar-nav .uk-navbar-dropdown{
    background: #3399ff;
}

.uk-navbar-right{
    float: right;
}

.uk-navbar-right .uk-navbar-nav li{
    float: right;
}

.uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle{
    min-height: 50px;
}

.slider{
    margin-top: 25px;
}

.uk-slider .uk-light a{
    color: black;
}

.uk-slider .uk-button{
    background: red;
    border-radius: 50px;
    transition-duration: 0.3s ease;
}

.uk-slider .uk-button:hover{
    background: green;
}

svg{
    color: black;
}

label{
    display: none;
}