{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<h1>Register</h1>
    {{ form(register_form) }}
{#    {% include 'forms/register_form.html.twig' %}#}
{% endblock %}
