{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    pokazuje wszystkie wiadomości<br>

    <a href="{{ path('show', {nameofarticle: 'Fajny Artykół' }) }}">Czytaj</a>
{% endblock %}
