<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Kraina Ofert{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="/assets/css/uikit.css" />
        <link rel="stylesheet" href="/assets/css/custom.css" type="text/css"/>
    {% endblock %}
</head>
<body>
<div class="uk-container uk-container-center mine-toolbar">
    <div class="tm-toolbar">
        {% block toolbar_l %}
            <div class="toolbar_l uk-float-left">Toolbar Lewy</div>
        {% endblock %}

        {% block toolbar_r %}
            <div class="toolbar_l uk-float-right">Toolbar Prawy</div>
        {% endblock %}
    </div>
</div>
<div class="uk-container uk-container-center mine-navbar">

    {% block main_navbar %}
        {% block left_navbar %}
            <nav class="uk-navbar-container back-navbar" uk-navbar>
            <div class="uk-width-3-4">
                <div class="uk-navbar-left">

                    <ul class="uk-navbar-nav">
                        <li><a href="{{ path('home') }}">Kraina Ofert</a></li>
                        <li>
                            <a href="#">Praca</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a href="#">Urząd Pracy</a></li>
                                    <li><a href="#">WKU</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">Zlecenia</a></li>
                        <li><a href="{{ path('news') }}">Aktualności</a></li>
                        <li><a href="#">Plany</a></li>
                        <li><a href="#">Forum</a></li>
                        <li><a href="#">Kontakt</a></li>
                    </ul>

                </div>
            </div>
        {% endblock %}
        {% block right_navbar %}
            {% if app.user %}
        <div class="uk-width-1-4">
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li><a class="uk-button uk-button-default" href="{{ path('app_logout') }}">Logout {{ app.user.nickname }}</a></li>
                </ul>
            </div>
        </div>
            {% else %}
            <div class="uk-width-1-4">
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li><a class="uk-button uk-button-primary uk-button-small" href="{{ path('app_login') }}">Login</a></li>
                        <li><a class="uk-button uk-button-primary uk-button-small" href="{{ path('register') }}">Register</a></li>
                    </ul>
                </div>
            </div>
            {% endif %}
        {% endblock %}
        </nav>
    {% endblock %}
</div>

{% for message in app.flashes('success') %}
<div class="uk-alert-success" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>{{ message }}</p>
</div>
{% endfor %}
{% for message in app.flashes('danger') %}
    <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{ message }}</p>
    </div>
{% endfor %}

<div class="uk-container uk-container-center test">
    {% block body %}
        {% block alert %}{% endblock %}

        {% block top %}
            {% block slider %} {% endblock %}
            {% block top_content %} {% endblock %}
        {% endblock %}

        {% block middle %}
            {% block news %} {% endblock %}
        {% endblock %}

        {% block bottom %} {% endblock %}

        {% block footer %} {% endblock %}
    {% endblock %}
</div>
{% block javascripts %}
    <script src="/assets/js/uikit.js"></script>
    <script src="/assets/js/uikit-icons.js"></script>
    <script src="//cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
    <script>var editor = CKEDITOR.replace( 'content', {
            language: 'pl',
            extraPlugins: 'notification'
        });

        editor.on( 'required', function( evt ) {
            editor.showNotification( 'To pole jest wymagane.', 'warning' );
            evt.cancel();
        } );
    </script>
{% endblock %}

</body>
</html>
